<div class="testimonial-block d-flex flex-column justify-content-center align-items-center"> 
    <div class="testimonial-image">
    {% if block.image != blank %}
    <img src="{{ block.image | image_url:'100x100' }}" class="img-fluid my-4" alt="{% if section.settings.alt == blank %}{{ block.alt }}{%else%}{{ block.name }}{% endif %}" />
    {% else %}
    <img src="{{ 'avatar.svg' | image_url:'120x120' }}" class="img-fluid mb-4" alt="Testimonial from {{ block.name }}">
    {% endif %}
    </div>
    <div class="testimonial-content d-md-block">
    <blockquote>{{ block.text }}</blockquote>
    <h4 class="name mt-2 mb-4">{{ block.name }}</h4>
    </div>
</div>
    
    {% schema %}
    {   
        "name": "Testimonial Block",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "default": "avatar.svg",
                "label": "Author Image Upload"
            },
            {
                "type": "text",
                "id": "alt",
                "label": "Author Image Alt Text"
            },
            {
                "type": "richtext",
                "id": "text",
                "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                "label": "Review Text"
            },
            {
                "type": "text",
                "id": "name",
                "default": "Lorem ipsum",
                "label": "Author Name"
            }
        ]
    }
    {% endschema %}